:root{
    --inactive-color: #707175;
    --primary-color: #3498DB;
    --background-color: #F6F7FB;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

