:root{
    --primary-color: #0de053;
    --secondary-color: #797979;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    border: 2px solid white;
    max-width: 400px;
    width: 29%;
    padding: 20px;
    border-radius: 3px;
}

.heading-style{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.container h1{
    font-size: 30px;
}

.container p{
    font-size: 20px;
}

.emoji-box{
    display: flex;
    justify-content: space-between;
}

#random-emoji-box-1, #random-emoji-box-2{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 3px;
    margin: 15px 0 25px 0;
    max-width: 200px;
    width: 35%;
}

#generate-emoji{
    padding: 13px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    width: 45%;
    border-radius: 3px;
    color: white;
    margin-bottom: 15px;
}