:root{
    --background-color: #1E1E1E;
    --primary-color: #1ED760;
    --text-color: white;
    --secondary-color: #333333;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid var(--text-color);
    padding: 30px;
    border-radius: 3px;
    width: 22%;
}

.container h1{
    font-size: 30px;
}

.container p{
    font-size: 17px;
}

.secure-highlight{
    color: var(--primary-color);
}

#generate-password{
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--primary-color);
    margin: 30px 0 15px 0;
    width: 100%;
}

#generate-password:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

#password-box-1, #password-box-2{
    border: 1px solid var(--text-color);
    padding: 20px;
    width: 86%;
    margin: 20px 0 0 0;
    border-radius: 5px;
    background-color: var(--secondary-color);
}